* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
}
.head {
  font-size: 3rem;
  color: white;
}
.form-control {
  display: inline-block !important;
  width: 65%;
  font-size: 1rem;
  color: #fff;
}
#gg {
  border: none;
  box-shadow: 0px 0px 2px rgb(252, 252, 252);
  color: black !important;
  outline: none;
}
.internal button {
  color: white;
  border: 0.1em solid #ccc;
  border-radius: 2em;
  margin-left: 5px;
}
.internal button:hover {
  box-shadow: 0p 2px 3px #fff;
}
.main {
  background: linear-gradient(45deg, #62929e 50%, #546a7b 50%);
  min-height: 100vh;
}
.top {
  margin: 10vh auto;
  width: 30%;
  min-height: 70vh;
  border: 1px solid black;
  box-shadow: 0px 1px 5px #ccc;
  border-radius: 1em;
}

.ul {
  padding: 1.5rem;
  margin-top: 1em;
  font-size: 1.5rem;
  text-align: start;
  list-style: none;
}
.list {
  list-style: none;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 1.4rem;
  margin: 1rem 0;
  padding: 0.5rem;
  font-weight: 400;
}
.hel {
  float: right;
  text-decoration: none;
}
i {
  font-style: normal;
  margin: 5px;
}

@media screen and (max-width: 500px) {
  .top {
    width: 80vw;
  }
  .ul {
    padding: 0;
    margin: 0;
  }
  .list {
    font-size: 1rem;
  }
}

button,i:hover {
  cursor: pointer;
}

.row h1{
  color: #22333b;
}