*{
    background-color: #212529;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    font-size: 30px;
    height: 100px;
    width: 250px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    transition:ease-out 0.3s;
}

button:hover{
    border-color: lightskyblue;
    color: white;
    cursor: pointer;
}

button:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    box-shadow: inset 260px 0 0 0 lightskyblue;
    height: 110px;
    width: 260px;
    font-size: 33px;
}